<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Paul Erdős</title>
    <style>.head {text-align: center;}
        .fact {display: inline-block; width: 32%; text-align: center;}
        .big {font-size: 3em;}</style>
</head>
<body>
    <div class="head">
        <img class="portrait" src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Erdos_budapest_fall_1992_%28cropped%29.jpg" />
        <h1>Paul Erdős</h1>
        <h6>Mathematics Full-Stack Expert from Hungary</h6>
    </div>
    <hr/>
    <div class="facts">
        <div class="fact">
            <div class="big">0</div>
            <div class="meta">Erdős number</div>
        </div>
        <div class="fact">
            <div class="big">1983/84</div>
            <div class="meta">Wolf Prize</div>
        </div>
        <div class="fact">
            <div class="big">&gt;500</div>
            <div class="meta">collaborators</div>
        </div>
    </div>
    <hr/>
    <h2>My Inventions</h2>
    <pre>
Erdős cardinal
Erdős–Nicolas number
Copeland–Erdős constant
Erdős–Tenenbaum–Ford constant
Erdős–Bacon number
Erdős–Borwein constant
Erdős–Diophantine graph
Erdős–Mordell inequality
Chung–Erdős inequality
Erdős–Rényi model
Erdős space
de Bruijn–Erdős theorem (graph theory)
de Bruijn–Erdős theorem (incidence geometry)
Davenport–Erdős theorem
Erdős–Anning theorem
Erdős–Beck theorem
Erdős–Dushnik–Miller theorem
Erdős–Fuchs theorem
Erdős–Gallai theorem
Erdős–Ginzburg–Ziv theorem
Erdős–Kac theorem
Erdős–Ko–Rado theorem
Erdős–Nagy theorem
Erdős–Pósa theorem
Erdős–Rado theorem
Erdős–Stone theorem
Erdős–Szekeres theorem
Erdős–Szemerédi theorem
Erdős–Tetali theorem
Erdős-Wintner theorem
Erdős–Turán inequality
Erdős–Ulam problem
Erdős–Woods number
Hsu–Robbins–Erdős theorem
Erdős arcsine law
Erdős–Moser equation
    </pre>
    <hr/>
    <p>Copyright &copy; 1992</p>
</body>
</html>
