<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Pál Erdős</title>
    <style>.head {text-align: center;}
        .fact {display: inline-block; width: 32%; text-align: center;}
        .big {font-size: 3em;}</style>
</head>
<body>
    <div class="head">
        <img class="portrait" src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Erdos_budapest_fall_1992_%28cropped%29.jpg" />
        <h1>Pál Erdős</h1>
        <h6>Magyarországról Matematikai Szakértő</h6>
    </div>
    <hr/>
    <div class="facts">
        <div class="fact">
            <div class="big">1</div>
            <div class="meta">Erdős-szám</div>
        </div>
        <div class="fact">
            <div class="big">1983/84</div>
            <div class="meta">Wolf-díj</div>
        </div>
        <div class="fact">
            <div class="big">&gt;500</div>
            <div class="meta">együttműködők</div>
        </div>
    </div>
    <hr/>
    <h2>Zászlók</h2>
    <p>{{ flag }}</p>
    <hr/>
    <h2>Találmányok</h2>
    <pre>
Erdős bíboros
Erdős – Nicolas szám
Copeland – Erdős állandó
Erdős – Tenenbaum – Ford állandó
Erdős – Bacon szám
Erdős – Borwein állandó
Erdős – diopantin gráf
Erdős – Mordell egyenlőtlenség
Chung – Erdős egyenlőtlenség
Erdős – Rényi modell
Erdős tér
de Bruijn – Erdős tétel (gráf elmélet)
de Bruijn – Erdős tétel (incidenciageometria)
Davenport – Erdős tétel
Erdős – Anning tétel
Erdős – Beck tétel
Erdős – Dushnik – Miller tétel
Erdős – Fuchs tétel
Erdős – Gallai tétel
Erdős – Ginzburg – Ziv tétel
Erdős – Kac tétel
Erdős – Ko – Rado tétel
Erdős – Nagy tétel
Erdős – Pósa tétel
Erdős – Rado tétel
Erdős – kő tétel
Erdős – Szekeres tétel
Erdős – Szemerédi tétel
Erdős – Tetali tétel
Erdős-Wintner tétel
Erdős – Turán egyenlőtlenség
Erdős – Ulam probléma
Erdős – Woods szám
Hsu – Robbins – Erdős tétel
Erdős arcsine törvény
Erdős – Moser egyenlet
    </pre>
    <hr/>
    <p>Copyright &copy; 1992</p>
</body>
</html>
