<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Пал Эрдёш</title>
    <style>.head {text-align: center;}
        .fact {display: inline-block; width: 32%; text-align: center;}
        .big {font-size: 3em;}</style>
</head>
<body>
    <div class="head">
        <img class="portrait" src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Erdos_budapest_fall_1992_%28cropped%29.jpg" />
        <h1>Пал Эрдёш</h1>
        <h6>Математик из Венгрии</h6>
    </div>
    <hr/>
    <div class="facts">
        <div class="fact">
            <div class="big">1</div>
            <div class="meta">Число Эрдёша</div>
        </div>
        <div class="fact">
            <div class="big">1983/84</div>
            <div class="meta">Премия Вольфа</div>
        </div>
        <div class="fact">
            <div class="big">&gt;500</div>
            <div class="meta">соавторов</div>
        </div>
    </div>
    <hr/>
    <h2>Известные результаты</h2>
    <pre>
Кардинальное число Эрдёша
Постоянная Коупленда — Эрдёша
Константа Эрдёша — Борвейна
Неравенство Эрдёша — Турана
Неравенство Эрдёша — Морделла
Пространство Эрдёша
Теорема де Брёйна — Эрдёша (теория графов)
Теорема де Брёйна — Эрдёша (геометрия)
Теорема Эрдёша — Эннинга
Теорема Эрдёша — Бека
Теорема Эрдёша — Душника — Миллера
Теорема Эрдёша — Галлаи
Теорема Эрдёша — Каца
Теорема Эрдёша — Ко — Радо
Теорема Эрдёша — Сёкефальви-Надя
Теорема Эрдёша — Радо
Теорема Эрдёша — Стоуна
Теорема Эрдёша — Секереша
Теорема Эрдёша — Секереша
Граф Эрдёша — Диофанта
Модель Эрдёша — Реньи
    </pre>
    <hr/>
    <p>Copyright &copy; 1992</p>
</body>
</html>
