<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Пал Ердеш</title>
    <style>.head {text-align: center;}
        .fact {display: inline-block; width: 32%; text-align: center;}
        .big {font-size: 3em;}</style>
</head>
<body>
    <div class="head">
        <img class="portrait" src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Erdos_budapest_fall_1992_%28cropped%29.jpg" />
        <h1>Пал Ердеш</h1>
        <h6>Угорсько-єврейський математик</h6>
    </div>
    <hr/>
    <div class="facts">
        <div class="fact">
            <div class="big">1</div>
            <div class="meta">Число Ердеша</div>
        </div>
        <div class="fact">
            <div class="big">1983/84</div>
            <div class="meta">Премія Вольфа</div>
        </div>
        <div class="fact">
            <div class="big">&gt;500</div>
            <div class="meta">співробітників</div>
        </div>
    </div>
    <hr/>
    <h2>Відомі результати</h2>
    <pre>
Число Ердеша
Кардинал Ердьоша
Константа Ердьоша-Коупленда
Число Ердьоша-Бейкона
Константа Ердьоша-Борвейна
Граф Ердьоша-Діофанта
Нерівність Ердьоша-Мордела
Модель Ердеша — Ренье
Гіпотеза Ердьоша-Турана щодо адитивних баз
Гіпотеза Ердьоша щодо арифметичних прогресій
Задача Ердьоша про різні відстані
Гіпотеза Камерона-Ердьоша
Гіпотеза Ердьоша-Бьорра
Гіпотеза Ердьоша-Фабера-Ловаса
Гіпотеза Ердьоша-Ґрехема
Гіпотеза Ердьоша-Ґьярфаса
Гіпотеза Ердьоша-Страуса
Гіпотеза Ердьоша-Турана
Простір Ердьоша
Теорема де Брьойна-Ердьоша (теорія графів)
Теорема де Брьойна-Ердьоша (геометрія інциденцій)
Теорема Ердьоша-Аннінга
Теорема Ердьоша-Бека
Теорема Ердьоша-Душніка-Міллера
Теорема Ердьоша-Ґаллаї
Теоерма Ердьоша-Каца
Теорема Ердьоша-Ко-Радо
Теорема Ердьоша-Наґі
Теорема Ердьоша-Радо
Теорема Ердьоша-Стоуна
Теорема Ердьоша-Секереша
Нерівність Ердьоша-Турана
Число Ердьоша-Вудза
    </pre>
    <hr/>
    <p>Copyright &copy; 1992</p>
</body>
</html>
